:root {

    --dark: #2E333A;
    --grey: #B2C2CB;
    --blue: #0ED2F6;

}

* {

    margin: 0;
    font-family: Poppins;
    font-style: normal;
    scroll-behavior: smooth;

}

*::-webkit-scrollbar { display: none; }